/* Empty. Add your own CSS if you like */
.div-wrapper {
    position:relative;
    height: 100%;
    width: 100%;
}

.angular-google-map-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: block;
    padding: 0.5em;
    margin: 5px 20px;
}